#wrapper{
  text-align: center;
  width: auto;
  height: 100% ;
  min-height: 100%;
  margin: 50px auto;
  background-color: #688f7c;
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}






